.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
}

.home-header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.home-header img {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.carousel-wrapper {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.Body_card_wrapper {
  height: 85vh;
}

.home-hero-date {
  padding-top: 3%;
  /*  font-size: 10px;*/
  font-weight: 400;
  color: #ffffff;
  margin-right: 15px;
  letter-spacing: 2px;
}

.card {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #fdfefe;
  /* font-size: 35px;*/
  color: #334163;
  padding: 10px 10%;
}

.card-bordered {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #d7d7d9;
  border-bottom: 1px solid #d7d7d9;
}

.card-value {
  height: 100%;
  font-size: 5em;
  font-family: 'roboto';
  font-style: normal;
  font-weight: bold;
  color: #d51e3c;
}

.card-row span:first-child {
  display: flex;
  align-items: flex-start;
  font-size: 1em;
  font-weight: normal;
  margin-right: 30px;
  padding-top: 10px;
  justify-content: flex-start;
  height: 100%;
}
.text_data_style {
  padding-top: 25px !important;
}
.active {
  transition: background 1s ease-out;
  background-color: #334163;
  color: #fff;
}
.Body_card_wrapper .slick-list .slick-track .slick-slide,
.Body_card_wrapper .slick-list .slick-track {
  height: 100%;
}
.CardPanel_style {
  height: 75%;
  max-height: 75%;
}
.Body_card_wrapper .slick-list {
  height: 100%;
}

.slick-slide.slick-current > div {
  height: 100%;
}
.card-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 34%;
}
.card_style_main {
  height: 100%;
}
.card_style_main .card-row:nth-child(2),
.card_style_main .card-row:nth-child(4) {
  height: 1%;
}
.card_style_main .card-row:nth-child(3),
.card_style_main .card-row:nth-child(5) {
  height: 34%;
}
.CardPanel_style .slick-slide > div {
  height: 50% !important;
}
.admin_panel_style {
  padding: 0 10px;
  background: #334163;
  height: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
.card-row > div {
  font-size: 2em;
  padding-top: 5px;
}
.home-hero {
  width: 100%;
  min-height: 140px;
  height: 25%;
  background-color: #344163;
  position: relative;
  color: #fff;
  font-weight: 600;
  /*  font-size: 25px;*/
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 60px;
}
.home-hero-title {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 4em;
  letter-spacing: 2px;

  color: #ffffff;
}
.home-hero_inner {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-start;

  width: max-content;
  position: absolute;
  top: 40px;
  left: 60px;
}
.home-hero-date_text {
  padding-right: 40px;
}
.home-hero-date_num {
  font-size: 2.5em;
}
