@font-face {
  font-family: 'Astana Pro-Regular';
  src: url('./assets/fonts/Astana_Pro_font_V4/Astana Pro-Regular.otf');
}
@font-face {
  font-family: 'Astana Pro-Bold';
  src: url('./assets/fonts/Astana_Pro_font_V4/Astana Pro-Bold.otf');
}

/* carousel api */

.BrainhubCarousel__trackContainer {
  width: 100%;
}

.BrainhubCarousel__container ul {
  width: 100%;
}

.BrainhubCarousel__container ul li {
  width: 33%;
}

.BrainhubCarousel__dots {
  position: absolute;
  top: 120px;
  right: 48%;
}

.BrainhubCarousel__dots li {
  margin: 0 5px;
}

.BrainhubCarousel__dots li button {
  border-radius: 50%;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot {
  padding: 5px;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
  display: none;
}

/* custom css */

.home {
  background-color: inherit;
  position: relative;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
}

.home-hero-title,
.home-hero-date_num {
  font-family: 'Astana Pro-Bold';
  /*  font-style: normal;
    font-weight: bold;*/
}

.home-header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.home-header img {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.home-carousel {
  position: relative;
  height: 85vh;
}

.home-hero {
  position: absolute;
  z-index: 1002;
  width: 100%;
  min-height: 140px;
  background-color: #344163;
  position: relative;
  color: #fff;
  font-weight: 600;
  /*  font-size: 25px;*/
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 60px;
}
.home-hero-title {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 4em;
  letter-spacing: 2px;

  color: #ffffff;
}
.home-hero_inner {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-start;

  width: max-content;
  position: absolute;
  top: 40px;
  left: 60px;
}
.home-hero-date_text {
  padding-right: 40px;
}
.home-hero-date_num {
  font-size: 2.5em;
}

.home-hero-title,
.home-hero-date_num {
  font-family: 'Astana Pro-Bold';
  /*  font-style: normal;
  font-weight: bold;*/
}

.home-hero-date {
  padding-top: 3%;
  /*  font-size: 10px;*/
  font-weight: 400;
  color: #ffffff;
  margin-right: 15px;
  letter-spacing: 2px;
}

.active.card.card_style_main {
  outline: 100px solid #ffffff00;
  /*  border: 1px solid #ffffff00;*/

  /* margin: 0 0 5px 0; */

  position: relative;
  overflow: hidden;

  /* z-index: 999; */
  transition: background 1s ease-in;
}

.card {
  /* height: 35vh; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  background-color: #fdfefe;
  /* font-size: 35px;*/
}

.card_style_main.active > div:last-child {
  color: white;
}
.card_style_main > div:last-child {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  /* font-size: 35px;*/
  color: #334163;
  padding: 10px 10%;
}

.card-bordered {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #d7d7d9;
  border-bottom: 1px solid #d7d7d9;
}

.card-value {
  height: 100%;
  font-size: 5em;
  font-family: 'Astana Pro-Bold', serif;
  font-style: normal;
  font-weight: bold;
  color: #ed3d5a;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-row span:first-child {
  display: flex;
  align-items: flex-start;
  font-size: 1em;
  font-weight: normal;
  margin-right: 30px;
  padding-top: 10px;
  justify-content: flex-start;
  height: 100%;
}
.text_data_style {
  padding-top: 25px !important;
  font-family: 'Astana Pro-Regular', serif;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 34%;
}
.card_style_main,
.card_style_main > div:last-child {
  height: 100%;
}
.card_style_main .card-row:nth-child(2),
.card_style_main .card-row:nth-child(4) {
  height: 1%;
}
.card_style_main .card-row:nth-child(3),
.card_style_main .card-row:nth-child(5) {
  height: 34%;
}
.card-row > div {
  font-size: 2em;
  padding-top: 5px;
}
.card-row span:first-child {
  display: flex;
  align-items: flex-start;
  font-size: 1em;
  font-weight: normal;
  margin-right: 30px;
  padding-top: 10px;
  justify-content: flex-start;
  height: 100%;
}

.img_p {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 49vh;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  /* left: 0;*/
  z-index: 10;
  bottom: 0;

  background-position: top right;
}

.active.card .img_p:before {
  opacity: 0.3;
}
.active.card .img_p:after {
  opacity: 1;
}

.is_hover:hover {
  cursor: pointer;
  background-color: #4d4757;
}

.carousel-wrapper {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.cardpanel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardpanel_slide {
  width: 100%;
  display: flex;
  transition: height 2s ease-out;
}

.nav_icon {
  font-size: 40px;
  opacity: 0.6;
}

.nav_icon:hover {
  cursor: pointer;
  opacity: 1;
}

.left {
  position: absolute;
  top: 49vh;
  left: 20px;
  z-index: 1001;
}
.right {
  position: absolute;
  top: 49vh;
  right: 20px;
  z-index: 1001;
}

.prev0 {
  transform: translate(0, 0);
}

.prev1 {
  transform: translate(0, -80vh);
}

.next1 {
  transform: translate(0, -80vh);
}

.next2 {
  transform: translate(0, -160vh);
}

.carddouble {
  position: relative;
  height: 80vh;
  width: 33.33%;
}

.active {
  background-color: #334163;
  color: #fff;
}

.active.card #style_img1,
.active.card #style_img18,
.active.card #style_img35,
.active.card #style_img52,
.active.card #style_img69,
.active.card #style_img86,
.active.card #style_img103,
.active.card #style_img120 {
  background-image: url('./assets/icon/1.svg');
}
.active.card #style_img2,
.active.card #style_img19,
.active.card #style_img36,
.active.card #style_img53,
.active.card #style_img70,
.active.card #style_img87,
.active.card #style_img104,
.active.card #style_img121 {
  background-image: url('./assets/icon/2.svg');
}
.active.card #style_img10,
.active.card #style_img27,
.active.card #style_img44,
.active.card #style_img61,
.active.card #style_img78,
.active.card #style_img95,
.active.card #style_img112,
.active.card #style_img129 {
  background-image: url('./assets/icon/3.svg');
}

.active.card #style_img3,
.active.card #style_img20,
.active.card #style_img37,
.active.card #style_img54,
.active.card #style_img71,
.active.card #style_img88,
.active.card #style_img105,
.active.card #style_img122 {
  background-image: url('./assets/icon/4.svg');
}
.active.card #style_img15,
.active.card #style_img32,
.active.card #style_img49,
.active.card #style_img66,
.active.card #style_img83,
.active.card #style_img100,
.active.card #style_img117,
.active.card #style_img134 {
  background-image: url('./assets/icon/5.svg');
}
.active.card #style_img11,
.active.card #style_img28,
.active.card #style_img45,
.active.card #style_img62,
.active.card #style_img79,
.active.card #style_img96,
.active.card #style_img113,
.active.card #style_img130 {
  background-image: url('./assets/icon/6.svg');
}
.active.card #style_img12,
.active.card #style_img29,
.active.card #style_img46,
.active.card #style_img63,
.active.card #style_img80,
.active.card #style_img97,
.active.card #style_img114,
.active.card #style_img131 {
  background-image: url('./assets/icon/7.svg');
}
.active.card #style_img7,
.active.card #style_img24,
.active.card #style_img41,
.active.card #style_img58,
.active.card #style_img75,
.active.card #style_img92,
.active.card #style_img109,
.active.card #style_img126 {
  background-image: url('./assets/icon/8.svg');
}
.active.card #style_img6,
.active.card #style_img23,
.active.card #style_img40,
.active.card #style_img57,
.active.card #style_img74,
.active.card #style_img91,
.active.card #style_img108,
.active.card #style_img125 {
  background-image: url('./assets/icon/9.svg');
}
.active.card #style_img8,
.active.card #style_img25,
.active.card #style_img42,
.active.card #style_img59,
.active.card #style_img76,
.active.card #style_img93,
.active.card #style_img110,
.active.card #style_img127 {
  background-image: url('./assets/icon/10.svg');
}
.active.card #style_img4,
.active.card #style_img21,
.active.card #style_img38,
.active.card #style_img55,
.active.card #style_img72,
.active.card #style_img89,
.active.card #style_img106,
.active.card #style_img123 {
  background-image: url('./assets/icon/11.svg');
}
.active.card #style_img5,
.active.card #style_img22,
.active.card #style_img39,
.active.card #style_img56,
.active.card #style_img73,
.active.card #style_img90,
.active.card #style_img107,
.active.card #style_img124 {
  background-image: url('./assets/icon/12.svg');
}
.active.card #style_img14,
.active.card #style_img31,
.active.card #style_img48,
.active.card #style_img65,
.active.card #style_img82,
.active.card #style_img99,
.active.card #style_img116,
.active.card #style_img133 {
  background-image: url('./assets/icon/13.svg');
}
.active.card #style_img9,
.active.card #style_img26,
.active.card #style_img43,
.active.card #style_img60,
.active.card #style_img77,
.active.card #style_img94,
.active.card #style_img111,
.active.card #style_img128 {
  background-image: url('./assets/icon/14.svg');
}
/*15*/
.active.card #style_img16,
.active.card #style_img33,
.active.card #style_img50,
.active.card #style_img76,
.active.card #style_img84,
.active.card #style_img101,
.active.card #style_img118,
.active.card #style_img135 {
  background-image: url('./assets/icon/15.svg');
}
/*16*/
.active.card #style_img17,
.active.card #style_img34,
.active.card #style_img51,
.active.card #style_img68,
.active.card #style_img85,
.active.card #style_img102,
.active.card #style_img119,
.active.card #style_img136 {
  background-image: url('./assets/icon/16.svg');
}
/*17*/
.active.card #style_img13,
.active.card #style_img30,
.active.card #style_img47,
.active.card #style_img64,
.active.card #style_img81,
.active.card #style_img98,
.active.card #style_img115,
.active.card #style_img132 {
  background-image: url('./assets/icon/13.svg');
}
